.formTitle{
    font-size:18px;
    margin-bottom:10px;
    font-weight:bold;
}
label{
    font-weight:normal;
}
input{
    margin-bottom:10px;
}
.contentcontainer{
    background-color:#FFFFD1;
    padding:20px;
    border:1px solid #CCCCCC;
    color: #000;
}